# Theory Questions: Data Types and Structures

1. What are data structures, and why are they important?

Data structures are ways of organizing and storing data so that it can be accessed and modified efficiently.
They are important because they help manage large amounts of data, improve performance, and enable better problem-solving.

2. Explain the difference between mutable and immutable data types with examples.

Mutable data types can be changed after creation (e.g., list, dict, set).
Immutable data types cannot be changed once created (e.g., int, float, str, tuple).

Example:

list1 = [1, 2]; list1[0] = 10 # Works
tuple1 = (1, 2); tuple1[0] = 10 # Error

3. What are the main differences between lists and tuples in Python?

Lists are mutable, slower, and use more memory.
Tuples are immutable, faster, and use less memory.
Lists: [1, 2, 3], Tuples: (1, 2, 3)

4. Describe how dictionaries store data.

Dictionaries store data in key-value pairs. Each key maps to a value using a hashing mechanism.

5. Why might you use a set instead of a list in Python?

Sets automatically remove duplicates and offer faster membership testing compared to lists.

6. What is a string in Python, and how is it different from a list?

A string is a sequence of characters (immutable), while a list is a collection of elements (mutable).
Example: "hello" vs ['h', 'e', 'l', 'l', 'o']

7. How do tuples ensure data integrity in Python?

Tuples are immutable, which prevents accidental modification of the data they contain, preserving data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that maps keys to values using a hash function.
Python dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?

Yes, lists in Python can contain mixed data types, such as [1, "hello", 3.14, True].

10. Explain why strings are immutable in Python.

Strings are immutable for performance and security reasons. Each modification creates a new string object.

11. What advantages do dictionaries offer over lists for certain tasks?

Dictionaries provide fast lookup by keys, making them better for tasks involving labeled or associated data.

12. Describe a scenario where using a tuple would be preferable over a list.

When you need to ensure data doesn't change, like representing coordinates or fixed configuration values.

13. How do sets handle duplicate values in Python?

Sets automatically discard duplicate elements. Example: set([1, 2, 2]) results in {1, 2}.

14. How does the “in” keyword work differently for lists and dictionaries?

In lists: checks if a value is present.

In dictionaries: checks if a key is present.

15. Can you modify the elements of a tuple? Explain why or why not.

No, tuples are immutable. You cannot modify elements once the tuple is created.

16. What is a nested dictionary, and give an example of its use case.

A nested dictionary is a dictionary within another dictionary.

Example: students = {"John": {"age": 20, "grade": "A"}}

17. Describe the time complexity of accessing elements in a dictionary.

Average time complexity is O(1) due to hashing.

18. In what situations are lists preferred over dictionaries?

When order matters, or when dealing with a simple sequence of elements without key-value mapping.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries used to be unordered (before Python 3.7). Now they preserve insertion order but conceptually they are key-based and not position-based.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

List uses index-based retrieval (position), while dictionary uses key-based retrieval (name or label).

# Practical Questions: Data Types and Structures

In [3]:
# 1. Write a code to create a string with your name and print it
name = "Sunil"
print(name)

Sunil

In [5]:
# 2. Write a code to find the length of the string "Hello World"
print(len("Hello World"))

11

In [6]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
print("I like apple".replace("apple", "orange"))

I like orange

In [7]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
nums = [1, 2, 3, 4, 5]
print(nums)

[1, 2, 3, 4, 5]

In [8]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [9]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [10]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [11]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [12]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [13]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [14]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
nums = (10, 20, 5, 15)
print(min(nums))

5

In [15]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [16]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [17]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [18]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [19]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [20]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [21]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
print(a.intersection(b))

{3}

In [22]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
person = {"name": "Sunil", "age": 29, "city": "Gurgaon"}
print(person)

{'name': 'Sunil', 'age': 29, 'city': 'Gurgaon'}

In [23]:
# 22. Write a code to add a new key-value pair "country": "India" to the dictionary {'name': 'Sunil', 'age': 29}
person = {'name': 'Sunil', 'age': 29}
person['country'] = 'India'
print(person)

{'name': 'Sunil', 'age': 29, 'country': 'India'}

In [24]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [25]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [26]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [27]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [28]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
nums = [random.randint(1, 100) for _ in range(5)]
nums.sort()
print(nums)

[1, 64, 65, 74, 83]

In [29]:
# 28. Write a code to create a list with strings and print the element at the third index
words = ["apple", "banana", "cherry", "date"]
print(words[3])

date

In [30]:
# 29. Write a code to combine two dictionaries into one and print the result
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
# 30. Write a code to convert a list of strings into a set
words = ["apple", "banana", "apple"]
unique_words = set(words)
print(unique_words)

{'apple', 'banana'}